{% extends 'recruitment/index_common.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		</div>
			<div class="col 12">
				<div class="section list-section">
					<h4 class=" header center-align">Job Application Tracking System</h4>
					{% if no_application_error %}
					<p class="blue-background center rounded shadowed">No Application In Your Profile Yet <a class="btn blue darken-2 waves-effect waves-light rounded" href="{% url 'joblist' %}">Click Here</a> To View All the Job Openings</p>
					{% else %}
					<table class="highlight bordered margined responsive-table">
						<thead style="font-size: 20px">
							<tr>
								<th style="text-align: center">Position</th>
								<th>Location</th>
								<th>Application Date</th>
								<th>Status</th>
								<th>Comment</th>
							</tr>
						</thead>
						<tbody>
							{% for application in applications %}
								<tr>
								<td width="25%"><a href="{% url 'jobpage' application.position.id %}"><b>{{application.position.company_name}}</b> - {{application.position.position}}</a></td>
								<td width="15%">{{application.position.location}}</td>
								<td width="13%">{{application.application_date}}</td>
								<td width="10%">{{application.status}}</td>
								<td width="37%">{{application.comment}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}