{% extends 'recruitment/index_common.html' %}
{% load staticfiles %}
{% block content %}

<div class="section rounded padded shadowed white" style="min-height:280px;width:40%;margin:25px auto">
	<h4 class="header center-align padded margined">Change Password</h4>
    {% if error %}
      <p class="light error-message rounded" style="font-size:16px;margin-bottom:30px">{{error}}</p>
    {% endif %}
	<form method="POST" action="">
    {% csrf_token %}
		<div class="input-field col s12">
            <input id="old_password" name='old_password' type="password" class="validate">
            <label for="password">Old Password</label>
        </div>

        <div class="input-field col s12">
            <input id="new_password" name='new_password' type="password" class="validate">
            <label for="new_password">New Password</label>
        </div>
        <div class="input-field col s12">
            <input id="confirm_password" name='confirm_password' type="password" class="validate">
            <label for="confirm_password">Confirm New Password</label>
        </div>
        <br>
        <div class="center">
            <input type="submit" class="btn waves-effect waves-light teal darken-3">
        </div>
	</form>
</div>

{% endblock %}