{% extends 'recruitment/index_common.html' %}  
{% block content %}
{% load staticfiles%}
  <div class="section about-us" id='about-us'>
    <div class="container">
      <!--   Icon Section   -->
      <div class="row">
        <h4 class="header center">About Us - Shanvi Staffing</h4>
        <p class="light center-align">Shanvi Staffing And Training Services is a Registered Recruitment Agency in Gurgaon and Kolkata. We are also associated with Global Recruitment Agencies to provide the ample job opportunities to our job applicants. At Shanvi, we follow applicable code of conduct of our profession and operate to high standards which are designed to protect our Clients as well as our Applicants’ interest.</p>
        <div class="col s12 m4 l4">
          <div class="icon-block block-1" style="margin-bottom: 10px">
            <h2 class="center brown-text" ><i class="material-icons">work</i></h2>
            <h5 class="center">For Our Clients</h5>

            <p class="light">We do ample research to understand the culture of your product and culture and refer only genuine and best suitable candidates to save your time. We promise to maintain high confidentiality in our dealings and be available to you in time of your urgency</p>
          </div>
        </div>

        <div class="col s12 m4 l4">
          <div class="icon-block block-2" style="margin-bottom: 10px">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">For Job-Seekers</h5>

            <p class="light">At Shanvi Staffing we refer only genuine positions which best suit to their experience and qualification. We respect applicants’ sentiments and maintain confidentiality. We would provide suitable career guidance and assist resume making and help you to prepare for interview
            and also be available for any kind of advise.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block block-3">
            <h2 class="center brown-text"><i class="material-icons">done_all</i></h2>
            <h5 class="center">Our Commitment</h5>

            <p class="light">There would be no misleading advertisement. Only genuine Job Posts would be there on the website. Information about Company and Job Details would be present for each posting.</p>
          </div>
        </div>
        <div class="divider"></div>
      </div>

    </div>
  </div>

  <div class="section client-section" id='clients'>
    <div class="container-fluid">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="header center">Some Of Our Clients</h4>
          <div class="col l2 m4 s6"><img src="{% static "partner-01.png" %}" alt="" class="responsive-img"></div>
          <div class="col l2 m4 s6"><img src="{% static "partner-02.png" %}" alt="" class="responsive-img"></div>
          <div class="col l2 m4 s6"><img src="{% static "partner-03.png" %}" alt="" class="responsive-img"></div>
          <div class="col l2 m4 s6"><img src="{% static "partner-04.png" %}" alt="" class="responsive-img"></div>
          <div class="col l2 m4 s6"><img src="{% static "partner-05.png" %}" alt="" class="responsive-img"></div>
          <div class="col l2 m4 s6"><img src="{% static "partner-06.png" %}" alt="" class="responsive-img"></div>
          <div class="col l2 m4 s6"><img src="{% static "partner-07.png" %}" alt="" class="responsive-img"></div>
          <div class="col l2 m4 s6"><img src="{% static "partner-08.png" %}" alt="" class="responsive-img"></div>
          <div class="col l2 m4 s6"><img src="{% static "partner-09.png" %}" alt="" class="responsive-img"></div>
          <div class="col l2 m4 s6"><img src="{% static "partner-10.png" %}" alt="" class="responsive-img"></div>
          <div class="col l2 m4 s6"><img src="{% static "partner-12.png" %}" alt="" class="responsive-img"></div>
          <div class="col l2 m4 s6"><img src="{% static "partner-13.png" %}" alt="" class="responsive-img"></div>
        </div>
      </div>

    </div>
  </div>
  <div class="divider"></div>

  <div class="section feedback" id="feedback">
    <div class="container-fluid">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="header center">Feedback</h4>
          <div class="col s12 m4 l4">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Prabhkiran Singh</span>
                
                <p class="center-align" style="color: #bdbdbd ; font-weight: bold">CEO and Founder, Bewakoff.com</p>
                <div class="divider"></div>
                <p class="light">"I am convenient because I require little markup to use effectively."</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Siddharth Handa</span>
                
                <p class="center-align" style="color: #bdbdbd ; font-weight: bold">CEO and Founder, Bewakoff.com</p>
                <div class="divider"></div>
                <p class="light">"I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively."</p>
              </div>
              
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Dharmil Seth</span>

                <p class="center-align" style="color: #bdbdbd ; font-weight: bold">CEO and Founder, Bewakoff.com</p>
                <div class="divider"></div>
                <p class="light">"I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively."</p>
              </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}