{% extends 'recruitment/index_common.html' %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col l3 m12 s12 filter">
			<h5 class="header center-align">Filter Results</h5>
			<div class="section filter-section" style="min-height: 300px;background-color: white">
				<form method="GET" action="">
					<p class="light" style="padding-left:11.25px;margin-top:0;margin-bottom:0"><strong><u>By Location</u></strong></p>
					<div class="input-field col s12" style="margin-top:0">
					    <select style="margin-top:20px" name="location-filter">
					      <option value="" selected>Choose your location</option>
					      {% for location in locations %}
					      <option value="{{location}}">{{location}}</option>
					      {% endfor %}
					    </select>
					</div>
					<p class="light" style="padding-left:11.25px;margin-top:0;margin-bottom:0"><strong><u>By Position</u></strong></p>
					<div class="input-field col s12">
					    <select style="margin-top:20px" name="position-filter">
					      <option value="" selected style="margin-top:0px">Choose your position</option>
					      {% for position in positions %}
					      <option value="{{position}}">{{position}}</option>
					      {% endfor %}
					    </select>
					</div>
					<div class="input-field col s12 center">
		                <button class="btn-large waves-effect rounded center waves-light yellow_btn" type="submit" name="action"><i class="material-icons right">search</i>Filter
		                </button>
	              	</div>
				</form>
			</div>
		</div>
			<div class="col l9 m12 s12">
				<div class="section list-section">
					<h4 class=" header center-align">Job Openings</h4>
					{% if no_job_error %}
					<p class="red-background center rounded shadowed">No Jobs Available For This Query, <a class="btn red waves-effect waves-light rounded" href="{% url 'joblist' %}">Click Here</a> for viewing all the Job Openings</p>
					{% else %}
					<table class="highlight bordered responsive-table">

						<thead style="font-size: 20px">
							<tr>
								<th style="text-align: center">Position</th>
								<th>Location</th>
								<th>Posting Date</th>
							</tr>
						</thead>
						<tbody>
							{% for job in job_list %}
								<tr>
								<td><a href="{% url 'jobpage' job_id=job.id %}"><b>{{job.company_name}}</b> - {{job.position}}</a></td>
								<td>{{job.location}}</td>
								<td>{{job.posting_date}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}